@charset "utf-8";

/* normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{background:#fff;color:#000;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:.67em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:700;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre-wrap;}
q{quotes:\201C \201D \2018 \2019;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
img{border:0; outline:none;}
svg:not(:root){overflow:hidden;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,select{text-transform:none;}
button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
body,figure{margin:0;}
legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
/* end of normalize.css */

/* global setting */
html, body, pre{
	font-family: 'Open Sans', sans-serif;
}
a{ outline: none; }

/*code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}*/
.clearfix{ *zoom:1 }
.clearfix:after{ display:block; clear:both; content:"" }
.fl{ float:left }
.fr{ float:right }
.bold{ font-weight: bold }
.hidden{ visibility: hidden }
.hidden2{ display: none }




/* layout/default */

.color-python	{ color: #3671a3 !important; }
.color-java		{ color: #eb8000 !important; }
.color-flume	{ color: #672c00 !important; }
.color-hive		{ color: #a58400 !important; }


header{
	padding: 15px 40px;
	background-color: #0d2748;
}

header #logo{
	width: 200px;
	height: 38px;
}

header #logo a{
	display: inline-block;
	*zoom: 1;
	width: inherit;
	height: inherit;
}

header #logo #logo-content{
	width: inherit;
	height: inherit;
	background-image: url('../images/logo-white.png');
	background-repeat: no-repeat;
	background-size: 200px;
}

header ul#gnb{
	list-style: none;
	margin: 10px 0 0 40px;
	padding: 0;
}

header ul#gnb li{
	margin: 0 13px;
	padding: 0;
	float: left;
}

header ul#gnb li a{
	color: white;
	text-decoration: none;
	font-size: 14px;
	color: #bbb;
	transition: color 0.3s;
	outline: none;
}
header ul#gnb li a:hover,
header ul#gnb li a.selected{ color: white; }


footer{
	font-size: 12px;
	color: #666;
	text-align: center;
	padding: 30px 0 25px 0;
}

footer a{
	color: #4078c0;
	text-decoration: none;
	margin-left: 7px;
}
footer a:hover{ text-decoration: underline; }


.tags a{ text-decoration: none; }

.tag{
	background-color: #777;
	color: white;
	border-radius: 3px;
	padding: 2px 7px;
	margin-right: 4px;
	font-size: 12px;
	outline: none;

	transition: background-color 0.5s;
}
.tag:hover{ background-color: #999 }

.tag-mini{
	font-size: 11px;
	background-color: #999;
	padding: 1px 5px 2px;
}
.tag-mini:hover{ background-color: #bbb }


.tag-special{
	color: white;
	background-color: #11b9b9;
}
.tag-special:hover{ background-color: #08d2d2 }

.tag-mini.tag-special{ padding-left: 6px; }



.tag-alpha{
	background-color: #0d2748;
	background-color: rgba(0, 0, 0, 0.4);
}
.tag-alpha:hover{ background-color: rgba(255, 255, 255, 0.3) }


h2.ctr{
	position: relative;
	font-weight: 300;
	font-size: 33px;
	color: #444;
	margin: 10px 10px 30px;

	text-align: center;
}

h2.ctr:after{
	content: '';
	position: absolute;
	bottom: -8px;
	left: 50%;
	height: 2px;
	width: 30px;
	margin-left: -15px;
	display: block;
	background-color: #46AEDA;
}

/*
 * search section 
 *
 */
section#search{
	padding: 60px 0 50px;
	background-color: #123765;
}

section#search #search-bar{
	width: 500px;
	margin: 0 auto;
	padding: 8px 5px;
	border-bottom: 1px solid white;
}

section#search #search-bar input{
	width: 400px;
	border: none;
	outline: none;
	font-size: 18px;
	margin-left: 10px;

	background-color: transparent;
	color: white;
	font-weight: 300;
}

section#search #search-bar i.fa{
	float: left;
	color: white;
	padding: 4px 0;
	cursor: pointer;
}


section#search .tags{
	margin-top: 8px;
	text-align: center;
}
section#search .tags .tag{
	font-size: 12px;
	color: white;
}




@media (max-width: 700px) {
	header{
		padding: 13px 15px 8px 15px;
	}

	header #logo{
		float: none;
		width: 170px;
		height: 36px;
	}
	header #logo #logo-content{ background-size: 170px }

	header ul#gnb{
		float: none;
		margin: 0;
		/*border-top: 1px solid rgba(255,255,255,0.4);*/
	}
	header ul#gnb li{ margin: 0 10px 0 0 }
	header ul#gnb li a{ font-size: 12px }
}