@charset "utf-8";



section > .description{
	text-align: center;
	font-size: 16px;
}




/*header{ background-color: #0d2748 }
header #logo #logo-content{ background-image: url('../images/logo-white.png'); }*/


section#welcome{
	background-color: #123765;
	padding: 30px 0 40px;
	text-align: center;
}

section#welcome h1{
	font-weight: 300;
	font-size: 37px;
	color: white;
	margin: 10px 0;
}

section#welcome .buttons{ margin: 20px 0 30px }

section#welcome .buttons a{
	display: inline-block;
	*zoom: 1;

	padding: 8px 18px;
	border: 1px solid white;
	
	background-color: rgba(0,0,0,.15);
	color: white;
	text-decoration: none;
	font-weight: 300;

	transition: background-color 0.5s;
}
section#welcome .buttons a:hover{
	background-color: rgba(255,255,255,.1);
}


section#search{
	margin: 60px 0 40px;
}

section#search #search-bar{
	width: 500px;
	margin: 0 auto;
	padding: 8px 15px;
	border: 1px solid #ccc;
	border-radius: 25px;
}

section#search #search-bar input{
	width: 400px;
	border: none;
	outline: none;
	font-size: 18px;
}

section#search #search-bar i.fa{
	float: right;
	color: #777;
	padding: 1px 3px;
	cursor: pointer;
}
section#search #search-bar i.fa:hover{ color: #333 }


section#search .tags{
	margin-top: 8px;
	text-align: center;
}
section#search .tags .tag{
	font-size: 12px;
	background-color: #eee;
	color: #333;
}



section#news{
	position: relative;
	margin: 50px 0;
	padding: 0 50px;
}

section#news .prev-btn,
section#news .next-btn{
	position: absolute;
	top: 250px;

	font-size: 35px;
    color: #ccc;
    cursor: pointer;
}
section#news .prev-btn{ left: 20px }
section#news .next-btn{ right: 20px; }


section#news .groups{
	overflow: hidden;
}

section#news .groups section{
	width: 330px;
	margin: 0 10px;
	padding: 0;
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
	float: left;
}

section#news .groups section .header{
	font-size: 16px;
	vertical-align: middle;
	padding: 12px 20px 0;
	border-radius: 5px 5px 0 0;
}

section#news .groups section .header h3{
	margin: 0;
	font-weight: normal;
	font-size: 20px;
}
section#news .groups section .header h3 a{ text-decoration: none; }

section#news .groups section ul.items {
	list-style: none; 
	margin: 0 10px;
	padding: 0;
}

section#news .groups section ul.items > li {
	margin: 10px 0 0;
	padding: 0;
}

section#news .groups section .footer{
	margin: 3px 10px;
}

section#news .groups section .footer a.show-more{
	display: block;
	width: 100%;
	padding: 3px 0;

	background-color: #eee;
	font-size: 13px;
	
	text-align: center;
	color: #666;
	text-decoration: none;
}




section#environments{
	padding: 25px 50px;
	background-color: #333;
}

section#environments > h2{
	color: #ddd;
}

section#environments > .description{ color: #888 }

section#environments ul{
	list-style: none;
	padding: 50px 0 20px;
	margin: 0;

	width: 650px;
	margin: 0 auto;
}

section#environments ul li{
	float: left;
	font-size: 70px;
	padding: 0 25px;
	color: #666;
}

section#environments ul li.with-text{ font-size: 23px; padding-top: 27px; }

footer{
	background-color: #333;
}
