@charset "utf-8";

html,body{
	background-color: #eee;
}

section > .description{
	text-align: center;
	font-size: 16px;
}


/*
 * news section 
 *
 */
section#news{
	position: relative;
	margin: 50px 0;
	padding: 0 50px;
	background-color: #eee;
}

section#news .prev-btn,
section#news .next-btn{
	position: absolute;
	top: 350px;

	font-size: 35px;
	color: #666;
	cursor: pointer;
	transition: color 0.5s;
	z-index: 3;
}
section#news .prev-btn{ left: 20px }
section#news .next-btn{ right: 10px; }

section#news .prev-btn:hover,
section#news .next-btn:hover{ color: #999 }

section#news .groups{
	overflow: hidden;
}

section#news .groups section{
	position: relative;
	width: 330px;
	margin: 0 10px;
	padding: 0;
	float: left;
}
section#news .groups .container > section:last-child{ margin-right: 0 }

section#news .groups section .header{
	font-size: 16px;
	vertical-align: middle;
	padding: 12px 20px 8px;
	background-color: #333;
	text-align: center;
}

section#news .groups section .header h3{
	margin: 0;
	font-weight: 300;
	font-size: 20px;
}
section#news .groups section .header h3 a{
	text-decoration: none;
	color: #ccc;
}

section#news .groups section .header h3 a i{ font-size: 18px }
section#news .groups section .header h3 a .env{ margin-top: -5px; font-size: 22px }



section#news .groups section .ul-wrap{
	max-height: 500px;
	overflow: hidden;
}


section#news .groups section ul.items{
	list-style: none; 
	margin: 0;
	padding: 0;
}

section#news .groups section ul.items > li{
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #ddd;
}


section#news .groups section .up-wrap{
	position: absolute;
	width: 100%;
	display: none;
}

section#news .groups section .up-wrap,
section#news .groups section .down-wrap{
	margin: 0;
	padding: 2px 0;
	background-color: #555;
	text-align: center;
}
section#news .groups section .up-wrap i,
section#news .groups section .down-wrap i{
	font-size: 20px;
	color: #ddd;
	cursor: pointer;
	transition: color 0.5s;
}
section#news .groups section .up-wrap i:hover,
section#news .groups section .down-wrap i:hover{ color: white }



/*
 * local web section
 *
 */
section#lw{
	background-color: white;
	padding: 30px 0 40px;
	text-align: center;
}

section#lw h1{
	font-weight: 300;
	font-size: 37px;
	/*color: white;*/
	margin: 10px 0;
}

section#lw .description{
	color: #666;
	font-size: 17px;
	font-weight: 300;
	margin: -7px 0 13px 0;
}

section#lw .screenshot img{
	border: 1px solid #bbb;
}

section#lw .buttons{ margin: 20px 0 30px }

section#lw .buttons a{
	display: inline-block;
	*zoom: 1;

	/*padding: 13px 38px;*/
	padding: 13px;
	width: 115px;
	text-align: center;
	
	background-color: #123765;
	color: white;
	border-radius: 4px;
	text-decoration: none;
	font-weight: 300;

	transition: background-color 0.5s;
}
section#lw .buttons a:hover{ background-color: #264058 }
section#lw .buttons a.github{ background-color: #555; }
section#lw .buttons a.github:hover{ background-color: #666; }

/*
 * environments section
 *
 */
section#environments{
	padding: 25px 50px;
	background-color: #333;
}

section#environments > h2{
	color: #ddd;
}

section#environments > .description{ color: #888 }

section#environments ul{
	list-style: none;
	margin: 0 auto;
}

section#environments ul.first{
	padding: 50px 0 0;
	width: 490px;
}
section#environments ul.second{
	margin-top: -20px;
	padding: 0;
	width: 500px
}

section#environments ul li{
	float: left;
	font-size: 70px;
	padding: 0 25px;
	color: #666;
}
section#environments ul li.smaller{ font-size: 60px; margin-top: 7px }
section#environments ul li.with-text{
	font-size: 23px;
	padding-top: 27px;
	font-weight: bold;
}

footer{
	background-color: #292929;
	color: #aaa;
}
footer a{ color: #6883a7 }






@media (max-width: 700px) {
	section#search #search-bar{
		width: 80%;
		padding: 5px;
	}
	section#search #search-bar input{ width: auto }

	section#news{
		padding: 0 20px;
	}
	section#news .prev-btn, section#news .next-btn{
		font-size: 20px;
	}
	section#news .prev-btn{ left: 5px }
	section#news .next-btn{ right: 2px }


	section#news .groups > .container{ margin-left: -7px }

	section#lw .screenshot img{
		width: 100%;
		border-left: none;
		border-right: none;
	}

	section#environments{
		padding: 25px;
	}
}

@media (max-width: 480px) {
	section#environments ul{
		width: 270px !important;
	}

	section#environments ul li{
		width: 85px;
		height: 100px;
		text-align: center;
	}

	section#environments ul li.with-text{
		width: 115px;
		padding-left: 10px;
		padding-right: 10px;
	}
}


